header
    h1 Mi Blog con NodeJS
    nav
        ul
            a(
                href='/'
            ) 
                li Inicio
            a(
                href='/posts'
            ) 
                li Posts